/*ATTRMusic.com CSS File by Hunter Wolfe*/

body 
{
    background-image: url("Images/black widow web 01.png");
    background-size: cover;
    color: white;
    font-family: '';
    font-size: large;
}